<h1>Hello World</h1>

<!-- react on rails helper method and it needs to know the name of the componet which is helloworld.  What prop you want to pass -->
<%= react_component("HelloWorld", props: @hello_world_props, prerender: false) %>
